
body{
    background-color: #efefef;
    margin: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    margin: 0
}

#barra-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f60c49;
    background: linear-gradient(90deg, #ff0346 0%, #f72c2c 50%, rgb(257, 5, 75) 100%);
    position: fixed;
    padding: 0 1rem;
    border-radius: 0 0 10px 10px;
    top: 0;
    z-index: 1;
    width: 100%
}

#barra-nav .icon-menu {
    width: 100px;
    height: 100px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-nav .responsive-nav li a {
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ddd;
    padding: 15px 55px 2px 55px;
}

.responsive-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Altura de la línea inferior */
    background-color: #f60c49; 
    bottom: -2px; 
    left: 0;
    transition: width 0.4s ease-in-out; 
}

.responsive-nav a:hover::after {
    width: 100%;
}

#barra-nav .responsive-nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    top: 110px;
    height: 300px;
    width: 200px;
    background-color: rgba(0 0 0 / 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px
}

#barra-nav .icon-cancel-circle {
    position: absolute;
    font-size: 1.6rem;
    margin: .5rem;
    margin-left: 170px;
    top: -5px;
    color:#333;
    cursor: pointer;
}

#nav-logo {
    margin-right: auto; /* Esto empuja todo lo demás hacia la derecha */
    cursor: default;
}

#nav-logo img {
    position: relative;
    height: 100px;
    left: 20px;
    margin: 10px 0;
}

#nav {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Permite que el nav crezca para utilizar el espacio disponible */
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centra la lista en el espacio disponible */
    gap: 5.5rem; /* Espaciado entre elementos de la lista */
}

#list a {
    padding: 50px 40px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #ddd;
}

#list a:hover {
    height: 200px;
    background-color: #efefef;
    color: #333 !important;
    transition: all .5s ease-in-out;
}

#home {
    background-image:linear-gradient(to right, rgba(0 0 0 / 0.2), rgba(0 0 0 / 0.5)), url(/images/banner.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 90vh;
    width: 100%;
    margin-top: 10vh;
}


#home #img-home #text-home{
    position: absolute;
    color: #ddd;
    font-size: 3em;
    top: 50px;
    left: 20%;
}

#home #img-home #text-homea {
    position: absolute;
    color: #ddd;
    font-size: 2.2em;
    top: 145px;
    left: 20%;
}

.btn-home,
.btn-home *,
.btn-home :after,
.btn-home :before,
.btn-home:after,
.btn-home:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-home {
    left: 73%;
    top: 100px;
    width: 280px;
    height: 95px;
  -webkit-tap-highlight-color: transparent;
  background-image: none;
    background: #ff0000;
  color: #ff0000;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.btn-home:disabled {
  cursor: default;
}
.btn-home:-moz-focusring {
  outline: auto;
}
.btn-home svg {
  display: block
}
.btn-home [hidden] {
  display: none;
}
.btn-home {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-home span {
  mix-blend-mode: difference;
}
.btn-home:before {
  -webkit-animation: move-out 0.3s;
  animation: move-out 0.3s;
  background: linear-gradient(90deg, #ff0346 0%, #f72c2c 50%, rgb(257, 5, 75) 100%);
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}
.btn-home:hover:before {
  -webkit-animation: move-in 0.3s forwards;
  animation: move-in 0.3s forwards;
}
@-webkit-keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}

#aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 50px 60px auto;
    width: 95vw;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: #094b75;
    color: #efefef;
    cursor: default;
    overflow: hidden 
}
 

#aboutUs #aboutUsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px 
}
#aboutUs #aboutUsContainer #titleAboutUs {
    font-size: 5.5rem;
    padding-top: 3rem;
    position: relative;
    bottom: 10px;
    right: 300px;
    z-index: 0;
}

#titleAboutUs:after {
     
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #E86634;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
      }

      #titleAboutUs:hover:after { 
        width: 100%; 
        left: 0; 
      }
      @media screen and (max-height: 300px) {
          ul {
              margin-top: 40px;
          }
      }

#aboutUs #aboutUsContainer img {
   position: absolute;
    height: 100%;
    width: 50%;
    left: 70%;
    top: 0;
    margin: 10px auto
}

#aboutUs #presentation {
    position: relative;
    letter-spacing: 7px;
    line-height: 60px; /*establecer la distancia entre líneas de texto*/
    font-size: 1.9rem;
    margin-top: 100px;
    padding: 100px
}

#tours {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.country {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0
}

.country-name {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: .2em
}

.footer-card {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #e4e1e1 ;
    border-radius: 0 0 10px 10px
}

.footer-card img{
    height: 25px;
    width: 28px;
    padding: 20px;
}
.footer-card h2 {
    margin-right: 10px;
    width: 70px;
    white-space: nowrap /*no hay saltos de línea, todo el texto queda en la misma línea*/ 
}

.footer-card .card-cost {

    display: table; /*debe estar presente para utilizar table-cell*/
    position: relative;
    margin: .5rem .5rem auto auto;
    height: 50px;
    width: 120px;
    border-radius: 5%;
    background: #f60c49;
    background: linear-gradient(90deg, rgb(255, 3, 70) 0%, rgb(205, 20, 20) 50%, rgb(257, 5, 75) 100%);

}

.card-cost .cost {

    display: table-cell; /*extiende el limite del texto hasta el tamaño del contenedor*/
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #ddd
}

#offers {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 15rem auto;
    letter-spacing: .5rem;
    overflow: hidden
}

#crono {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: bold;
    background-color: #094b75;
    margin: 10rem;
    padding: 24px 0;
    font-size: 7em;
	border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#offers-title{
    position: relative;
    font-size: 5em;
}

#offers-title .resaltado {
    background-color: #F60C49;
    position: relative;
    left: 300px;
    font-style: italic;
}

#offers-tarjeta{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: 1em;
}


#offers-tarjeta .tarjeta{
    background-color: #e4e1e1;
    border: solid 1px #e4e1e1;
    border-radius: 10px;
    height: 800px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    transition: all ease-out .5s
}

#offers-tarjeta .tarjeta-title {
    font-weight: bold;
    white-space: nowrap;
    font-size: 2.5em
}

#tarjeta-bestprice{
    display: flex;
    justify-content: center;
    position: relative
}

 #tarjeta-bestprice img {
    position: absolute;
    bottom: -5px;
    right: -70px;
    z-index: 0;
    width: 170px;
    height: 170px
}

#tarjeta-bestprice .tarjeta-title {
    text-align: center
}

#offers-tarjeta h3 {
    font-size: 1.7em
}

#offers-tarjeta .offers-city{

    position: relative;
    padding: auto .5em;
    color: #6C58FE;
}

#offers-tarjeta #info-tarjeta {
    margin: auto
}

#offers-tarjeta .days-starend {
    font-size: 1.5em;
    color: #868686
}

#offers-footer {
    background: #ec4444;
    background: linear-gradient(90deg, #ec4444 0%, rgb(205, 20, 20) 50%, rgb(257, 5, 75) 100%);
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}

#offers-footer-bst {
    background: #BBA53D;
    background: linear-gradient(50deg, #baab71 0%, #baab71 50%, #dbc676 100%);
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}

#offers-footer .tarjeta-cost,
#offers-footer-bst .tarjeta-cost{
    font-weight: bold;
    font-size: 3em
}

#offers-tarjeta .tarjeta:hover {
    border: solid 2px #101942;
    transform: scale(1.03)
}

article {
    width: 100% ;
    margin-top: 10rem;
    background: #f60c49;
    background: linear-gradient(90deg, rgb(255, 3, 70) 0%, rgb(205, 20, 20) 50%, rgb(257, 5, 75) 100%);
}

#opinion {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin: 10% auto;
    border-radius: 10px
}

#opinion h2 { 
    text-align: center;
    font-size: 4rem;
    align-items: center
}

#opinion .resaltado1 {
    color: #6C58FE
}

#opinion img {
    height: 800px;
    width: 1000px;
    flex-grow: 2
}

article #btn_next {
    position: absolute;
    margin: 140px auto ;
    right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer 
}

#opinion_container {
    position: relative;
    width: 100%;
    background-color: #6C58FE;
    display: flex;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    bottom: -100px;
    margin: auto auto auto 1rem
}

.opinion_card {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #e4e1e1;
    width: 300px;
    height: 400px;
    flex: 0 0 25%; /* Asegura que cada opinión ocupe el 25% del contenedor */
    max-width: 25%;
    max-height: 25%;
    margin: 2rem;
    padding: .5rem;
    border-radius: 10px
}

.opinion_card .pics_profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5%
}

.opinion_card .user_opinon {
 flex-direction: column;
 max-width: 100%
}

.opinion_card .user_name {
    font-size: 2rem
}

.opinion_card .stars {
    color: gold;
    font-size: 2.5rem;
    margin-top: auto
   }

   .opinion_card p {

    font-size: 1.2rem;
    letter-spacing: .01rem
   }

   .contactt {
    background-image: url(/images/contact.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: 20rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   #contact {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 300px auto;
    height: 800px;
    width: 1100px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0
   }

   #contact h2 {
    text-align: center;
    color: #eee;
    font-size: 2em
   }

   #namesur {
    display: flex;
    flex-direction: column
   }

   .input-container,
   .mail {
    position: relative;
    margin: 50px auto
  }
  
  .input-container input[type="text"],
  .input-container input[type="tel"],
  .mail input[type="text"] {
    position: relative;
    font-size: 25px;
    width: 150%;
    height: 40px;
    border: none;
    border-bottom: 3px solid #d0b8b8;
    border-radius: 15px 15px 0 0 ;
    color: #e4e1e1;
    padding: 3px 0;
    top: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none
  }

  
  .input-container .label,
  .mail .label{
    position: absolute;
    top: 0;
    left: 0;
    color: #e4e1e1;
    transition: all 0.3s ease;
    pointer-events: none
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="tel"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label,
  .input-container input[type="tel"]:valid ~ .label,
  .mail input[type="text"]:focus ~ .label,
  .mail input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #e4e1e1;
  }
  
  .input-container .underline,
  .mail .underline{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 150%;
    background-color: #f72c2c;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline,
  .input-container input[type="tel"]:valid ~ .underline,
  .input-container input[type="tel"]:focus ~ .underline,
  .mail input[type="text"]:focus ~ .underline,
  .mail input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  

   .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    left: 65px
   }

   .btn {
    height: 80px;
    width: 200px;
    padding: 0.8em 1.8em;
    border: 2px solid #d0b8b8;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #d0b8b8;
    cursor: pointer
   }
   
   .btn:before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #f72c2c;
    transition: .5s ease;
    display: block;
    z-index: -1
   }
   
   .btn:hover::before {
    width: 105%
   }
   
   .btn:hover {
    color: #111;
    border: 2px solid #f72c2c
   }
   
   .email-sent {
    height: 70%;
    width: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #f8f1f1;
    z-index: -1 ;
   }

   .img-bgr-green {
    margin: 0;
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6ab46a;
   }

   .img-bgr-green img {
    height: 40%;
    border-radius: 50%;
   }

   .content-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
    margin-top: 80px;
   }

   .email-sent-ok {
    margin: 70px;
    width: 170px;
    height: 70px;
    border-radius: 8px;
    font-size: .8em;
    cursor: pointer;
    padding: 0.8em 1.8em;
    border: 2px solid #1f1d1d;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #1d1c1c;
    cursor: pointer
   }
   
   .email-sent-ok:before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #6ab46a;
    transition: .5s ease;
    display: block;
    z-index: -1
   }
   
   .email-sent-ok:hover::before {
    width: 105%
   }
   
   .email-sent-ok:hover {
    color: #111;
    border: 2px solid #d5d0d0
   }

   footer {
    position: relative;
    background-color: #094469;
    height: 30vh;
    align-content: space-between;
    gap: 4rem
   }

   #footer {
    margin: 0
   }

   #footer h2 {
    font-size: 2em;
    padding: 5px ;
    text-align: center
   }

   .line {
    width: 80%;
    height: 2px;
    background-color: rgb(238, 238, 238, .4);
    margin: 0 auto 40px auto
   }

   .list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    font-size: 25px;
    list-style:none


   }

   .list a {
    color: #ddd;
    text-decoration: none
   }

   .list a:hover {
    background-color: transparent;
    color: #cac7c7;
   }

   .footer-fot{
    bottom: 25px;
    background-color: #0a3f5f;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center
   }

   .footer-fot h3 {
    margin: 0
   }

   .copyright {
    color: rgb(0, 0, 0, .4)
   }


@media (min-width:350px) and (max-width:2000px) {
    #home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-home{
        position: relative;
        left: 0;
        top: -130px;
    }
}

    /*Phone*/


@media screen and (max-width: 479px) {

    main {
        margin:0
    }

    #nav {
        display: none;
    }

    #barra-nav {
        height: 90px;
    }

    #nav-logo img {
        max-height: 70px;
        left: 20vw;
        margin: 10px 0;
    }

    #home {
        height: 80vh;
        width: 100vw;
        margin: 70px 0 0;
        background-attachment:scroll;
        border-radius: 0;
    }

    #home #img-home #text-home{
        font-size: 2rem;
        left: 100px;
        top: 100px
    }

    .btn-home {
        top: -100px;
        width: 250px;
        height: 70px;
    }


    #aboutUs {
       width: 100vw;
       height: 100vh;
       border-radius: 0;
       margin: auto;
       overflow: hidden
    }

    #aboutUs #aboutUsContainer img {
        width: 130px;
        height: 130px;
        left: -50px;
        top: -200px
    }

    #aboutUs #aboutUsContainer #titleAboutUs {
        display: none
    }  

    #aboutUs #presentation {
        text-align: center;
        letter-spacing: 3px;
        font-size: 1.5em;
        line-height: 30px;
        margin: 0 2em ;
        padding: 0 10px
    }

    #tours {
    width: 470px; 
    overflow: hidden;
    position: relative;
    margin: 200px 0
    }

    #carrusel{
    display: flex;
    transition: transform 0.7s ease-out
    }

    .card {
    width: 450px; 
    flex: 0 0 auto;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    }


    .country-name {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 1rem;
    }

    #offers {
        display: flex;
        flex-direction: column
    }

    #crono{
        width: 95%;
        margin: 2em auto;
        font-size: 4em;
        font-style: bold
    }

    #offers-title h2 {
        text-align: center;
        font-size: 1.5em
    }

    #offers-title h2 .resaltado{
        position: relative;
        top: 50px;
        left: 10px
    }

    #offers-tarjeta{
        display: flex;
        flex-direction: column;
    }

    .tarjeta-title {
        font-size: 2em !important;
        }

    #offers-tarjeta .tarjeta {
        height: 650px !important;
        width: 90% !important;
        margin-bottom: 100px;
        overflow: visible ;
    }

    #tarjeta-bestprice img {
        width: 30%;
        height: 150px;
        right: -30px;
        top: -65px;
    }

    #opinion{
        position: relative;
        display: flex;
        flex-direction: column;
    }

    #opinion_container{
       width: 100%;
    }

    .user_opinion{
        max-width: 100%;
    }

    #opinion h2 {
        font-size: 3em !important
    }

    #opinion img {
        height: 300px;
        width: 300px;
        position: absolute;
        bottom: 50px;
        right: 15px
    }

    .opinion_card {
        width: 450px !important;
        height: 450px !important;
        flex: 0 0 90%;
        max-width: 90%;
        max-height: 100%
    }

        .opinion_card .stars {
            font-size: 1.5em
        }
        .input-container input[type="text"],
        .input-container input[type="tel"],
        .mail input[type="text"] {
            width: 100%
        }

        .contact-btn {
            left: 0
        }

        .input-container .underline,
        .mail .underline {
            width: 100%;
        }

        #footer {
            max-width: 100%;
        }

        .list ul {
            flex-wrap: wrap;
            gap: .5em;
        }
        
    }




@media (min-width: 480px) and (max-width: 767px) {

    #barra-nav {
        height: 100px;
    }

    #nav-logo img {
        max-height: 80px;
        left: 30vw;
        margin: 10px 0;
    }

    #nav {
        display: none;
    }

    #barra-nav .menu.responsive {
    width: 200px;
    height: 100px;
}
       
    #home #img-home #text-home{
        font-size: 2.2em;
        left: 100px;
        top: 100px
    }

    .btn-home {
        top: -150px;
        width: 250px;
        height: 70px;
    }

    #aboutUs {
        width: 100vw;
        height: 100%;
        border-radius: 0;
        margin: auto;
     }

     #aboutUs #aboutUsContainer img {
         width: 210px;
         height: 150px;
         left: -100px;
         top: 0
     }

     #aboutUs #aboutUsContainer #titleAboutUs {
         display: none
     }  

     #aboutUs #presentation {
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.4em;
        line-height: 50px;
        margin: 7em 2em;
        padding: 20px 0 
    }

    #tours {
        width: 500px;
        margin: 200px auto;
        overflow: hidden;
    }

    #carrusel {
        width: 4400px;
        display: flex;
        transition: transform 0.7s ease-out
    }

    .card {
        position: relative;
        width: 450px; 
        flex: 0 0 auto;
        display: inline-block;
        margin-right: 20px
        }

        .country-name{
            position: absolute;
           font-size: 3.5em;
           right: 50px;
           transform: translateY(-580%);
           z-index: 1;
        }

        #offers {
            display: flex;
            flex-direction: column
        }

        #crono{
            margin: 2em auto;
            font-size: 5em;
            font-style: bold
        }
        #offers-title h2 {
            text-align: center;
            font-size: 1.5em
        }
        #offers-title h2 .resaltado{
            position: relative;
            top: 50px;
            left: 20px
        }

        #offers-tarjeta{
            display: flex;
            flex-direction: column
        }

        #offers-tarjeta .tarjeta{ 
        margin-bottom: 80px;
        width: 80% !important;
        }

        .tarjeta-title {
            font-size: 2em !important;
            }
        
     #tarjeta-bestprice img {
        width: 30%;
        height: 150px;
        right: -60px;
        top: -50px;
     }

     #opinion {
        position: relative;
     }

     #opinion img {
        position: absolute;
        height: 450px;
        width: 400px;
        bottom: -150px;
        right: 80px
        }
    
    .opinion_card {
            width: 767px !important;
            height: 450px !important;
            flex: 0 0 90%;
            max-width: 90%;
            max-height: 100%;
            transition: opacity 0.7s ease-out;
            }

            .opinion_card .hidden {
                opacity: 0;
                display: none;
            }

     .user_opinion{
         max-width: 100%;
     }

     #btn_next {
        bottom: 50px
     }



    .list ul {
        flex-wrap: wrap;
        gap: 1em
    }

}

@media (min-width:768px ) and (max-width: 996px) {
  
    #nav {
        display: none;
    }
    #nav-logo img {
        height: 80px;
        left: 400px;
        margin: 10px 0;
    }

    .card { 
        position: relative;
       width: 320px;
    }
    .footer-card {
        width: 320px;
        height: 150px;
        flex-wrap: wrap;
    }

    .footer-card h2 {
        font-size: 1.3em;
    }

    .footer-card .card-cost {
        position: relative;
        right: 100px;
    }

    .country-name{
       font-size: 1.65em !important;
        top: 50px;
        left: 0 ;
        letter-spacing: .2em
    }

}

@media (min-width: 767px) and (max-width: 1279px) {

    #barra-nav {
        height: 110px
    }

    #nav-logo img {
        max-height: 90px;
        left: 40vw;
        margin: 10px 0
    }

    #nav {
        display: none
    }

    #aboutUs {
        width: 100%;
        height: 100%;
        border-radius: 0;
        position: relative;
        margin: auto auto 50px auto
    }

     #aboutUs #aboutUsContainer #titleAboutUs {
         display: none
     }  

     #aboutUs #aboutUsContainer img {
        position: absolute;
        height: 250px;
        width: 300px;
        top: -20px;
        left: -170px;
        margin: 1.5em
     }

    #aboutUs #presentation {
        text-align: center;
        letter-spacing: 4px;
        font-size: 1.5em;
        line-height: 50px;
        margin: 12em 3em;
        padding: 5px 0 
    }

    #carrusel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 75px
    }

    .card {
        margin: 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #card-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column
    }
     .country-name{
        position: absolute;
       font-size: 3em;
       left: 50%;
    
    }

    #offers {
        display: flex;
        flex-direction: column
    }

    #crono{
        margin: 2em auto
    }

    #offers-title h2 {
        text-align: center;
        font-size: 1.5em
    }
    #offers-title h2 .resaltado{
        position: relative;
        top: 50px;
        left: 20px
    }

    #opinion {
        position: relative;
        display: flex;
        flex-direction: column;
     }

     #opinion h2 {
        padding: 2em;
        font-size: 4em !important
    }

    #opinion img {
        height: 600px;
        width: 650px;
        position: absolute;
        bottom: -210px
    }

    .opinion_card {
        height: 450px !important;
        flex: 0 0 90%;
        max-width: 40%;
        }

    .user_opinion{
     max-width: 100%;

    }

    .user_opinion p {
        font-size: 1.1em;
    }

    .user_opinion .stars{
        font-size: 1.5em;
        margin-top: auto; 

    }


    .list ul {
        flex-wrap: wrap;
        gap: 1.5em;
    }

}



@media screen and (min-width: 1279px) {

    #barra-nav .icon-menu {
    display: none;
    }


    #barra-nav .responsive-nav{
        display: none;
    }

    #carrusel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 75px
    }

    .card {
        margin: 0;
        display: flex;
        flex-direction: column
    }

    .country-name {
       font-size: 4em

    }

    .user_opinion p{
        font-size: 1.1em;
    }

    .opinion_card .stars {
        font-size: 1.6em;
    }

} 

@media screen and (max-width: 1454px) {
    #offers-title .resaltado{
        top: -90px
    }
    #text-homea {
        display: none;
    }
}

@media screen and (max-width: 1630px) {

    #offers-title{
        font-size: 3.5em
    }
    #offers-title .resaltado{
        left: 150px
    }

    #offers-tarjeta {
        display: flex;
        flex-direction: column;
    }
    
    #offers-tarjeta .tarjeta{ 
    width: 60%;
    height: 700px;
    margin-bottom: 80px;
    }

}